@model TEST01.Models.XemChiTietHoaDonModel
@{
}

<h2>Chi tiết hóa đơn</h2>

<h1>Tên Khách hàng: @Model.TenKH</h1>
<h1>Mã Khách hàng: @Model.MaKH</h1>
<h1>Mã Hóa Đơn: @Model.MaHD</h1>
<h1>Tên Món Ăn: @Model.TenMonAn</h1>
<h1>Số Lượng: @Model.SoLuong</h1>
<h1>Đơn Giá: @Model.DonGia</h1>
<h1>Thành Tiền: @Model.ThanhTien</h1>
<h1>THT: @Model.THT</h1>
<h1>Ngày Hóa Đơn: @Model.NgayHD</h1>
